<div class="header">
  <h1>Search Flats</h1>
  <%= link_to "Admin", admin_path, class: "admin-button"%>
</div>
<div class="grid-index">
  <% @flats.each do |flat| %>
    <div class="card-index">
      <img src="<%=flat.img%>"/>
      <div class="card-index-infos">
        <div>
          <h2><%= link_to flat.name, flat_path(flat), class: "flat-name" %></h2>
          <p><%= "#{flat.number_of_guests} Guests" %></p>
        </div>
        <h2 class="card-trip-pricing"><%= "#{flat.price_per_night}$ / night" %></h2>
      </div>
    </div>
  <% end %>
</div>
